@import "_variables.scss";

.Icon {
  fill: none;
  transition: transform 0.3s;

  &--dropdown {
    //fill: $color-dark;
    height: 15px;
    width: 15px;
  }

  &--minimize,
  &--maximize {
    fill: inherit;
    height: 20px;
    width: 20px;
    padding: 0;
  }
  
  &--export,
  &--print {
    height: 40px;
    padding: 7px;
    width: 40px;
  }

  &--indicator {
    height: 20px;
    margin-right: 5px;
    stroke: inherit;
    stroke-width: 10;
    width: 20px;
  }

  &--rotated {
    transform: rotate(180deg);
  }
}
